﻿@model ClinicaWeb.Models.ClinicaDB.Paciente

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Cuenta de usuario</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="firstName">Nombre usuario</label>
                <div>
                    @Html.DisplayFor(model => model.UserName)
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label for="lastName">Contraseña</label>
                <div>
                    @Html.DisplayFor(model => model.Password)
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-body -->
    <div class="box-footer">
        <a href="@Url.Action("Edit", "Paciente", new { id = Model.Id, type = ViewBag.PersonaType })" class="btn btn-primary pull-right">Editar</a>
    </div>
</div><!-- /.box -->
