﻿@model ClinicaWeb.Models.ClinicaDB.Agenda
@*@model IEnumerable<ClinicaWeb.Models.ClinicaDB.Agenda>*@

@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
@*<section class="content-header">
        <h1>
            Page Header
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>*@

<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Programar agenda @string.Join(" ", " » ", Model.Empleado.Persona.Nombre, Model.Empleado.Persona.Apellido)</h3>
        </div><!-- /.box-header -->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.EmpleadoId);
            @Html.HiddenFor(model => model.Estado);
            
            <div class="box-body">
                <div class="col-md-6 input-group">
                    @Html.EditorFor(model => model.FAgenda, new { htmlAttributes = new { @class = "form-control", @data_inputmask = "'alias': 'yyyy-mm-dd'", @data_mask = string.Empty, @type = "text" } })
                    <div class="input-group-btn">
                        <button type="submit" class="btn btn-primary">Aceptar</button>
                    </div><!-- /btn-group -->
                </div><!-- /input-group -->
            </div><!-- /.box-body -->
            <div class="box-footer">
                <a href="@Url.Action("Details", "Persona", new { id = Model.Empleado.PersonaId, type = ClinicaWeb.Controllers.PersonaType.Empleado })" class="btn btn-default">Volver</a>
            </div>
        }
    </div><!-- /.box -->
    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Listado agendas</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Fecha</th>
                                <th>Estado</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ClinicaWeb.Models.ClinicaDB.Agenda item in ViewBag.Agendas)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FAgenda)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Estado)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->


@*<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FAgenda)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Empleado.Estado)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FAgenda)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Empleado.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>*@
