﻿@model ClinicaWeb.Models.ClinicaDB.Empleado

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Cargo</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="firstName">Fecha registro</label>
                <div>
                    @Html.DisplayFor(model => model.FRegistro)
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label for="lastName">Nombre cargo</label>
                <div>
                    @Html.DisplayFor(model => model.TipoEmpleado.Nombre)
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-body -->
    <div class="box-footer">
        @if (Model.TipoEmpleado.Id == 2)
        {
            <a href="@Url.Action("Index", "Agenda", new { id = Model.Id })" class="btn btn-success">Ver agenda</a>
        }
        <a href="@Url.Action("Edit", "Empleado", new { id = Model.Id, type = ViewBag.PersonaType })" class="btn btn-primary pull-right">Editar</a>
    </div>
</div><!-- /.box -->
