﻿@model ClinicaWeb.Models.ClinicaDB.Empleado

@{
    ViewBag.Title = "Edit";
}

<!-- Content Header (Page header) -->
@*<section class="content-header">
        <h1>
            Page Header
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>*@

<!-- Main content -->
<section class="content">
    @Html.Partial("~/Views/Persona/_DetailsPartial.cshtml", Model.Persona, new ViewDataDictionary { { "PersonaType", ClinicaWeb.Controllers.PersonaType.Empleado } })
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Cargo</h3>
        </div><!-- /.box-header -->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.PersonaId)
            @Html.HiddenFor(model => model.FRegistro)
            @Html.HiddenFor(model => model.Estado)

            <div class="box-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label>Fecha registro</label>
                        <div>
                            @Html.DisplayFor(model => model.FRegistro, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Nombre cargo</label>
                        @Html.DropDownList("TipoEmpleadoId", null, htmlAttributes: new { @class = "form-control" })
                    </div>
                </div><!-- /.row -->
            </div><!-- /.box-body -->
            <div class="box-footer">
                <a href="@Url.Action("Details", "Persona", new { id = Model.PersonaId, type = ClinicaWeb.Controllers.PersonaType.Empleado })" class="btn btn-default">Cancelar</a>
                <button type="submit" class="btn btn-primary pull-right" style="width: 100px;">Guardar</button>
            </div>
        }
    </div><!-- /.box -->
</section><!-- /.content -->