﻿@model ClinicaWeb.Models.ClinicaDB.Persona

<div class="box box-info">
    <div class="box-header">
        <h3 class="box-title">Datos Personales @Html.Raw(ViewBag.PersonaType != null ? string.Concat(" » ", ViewBag.PersonaType) : string.Empty)</h3>
    </div><!-- /.box-header -->
    <div class="box-body">
        <div class="row">
            <div class="col-md-6 form-group">
                <label for="firstName">Nombre(s)</label>
                <div>
                    @Html.DisplayFor(model => model.Nombre)
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label for="lastName">Apellido(s)</label>
                <div>
                    @Html.DisplayFor(model => model.Apellido)
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label for="idType">Tipo identificación</label>
                <div>
                    @Html.DisplayFor(model => model.TipoDocumento)
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label for="idNumber">Número identificación</label>
                <div>
                    @Html.DisplayFor(model => model.Identificacion)
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label for="gender">Genero</label>
                <div>
                    @Html.DisplayFor(model => model.Genero)
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label for="movil">Celular</label>
                <div>
                    @Html.DisplayFor(model => model.Telefono)
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label for="email">Correo electrónico</label>
                <div>
                    @Html.DisplayFor(model => model.Correo)
                </div>
            </div>
            <div class="col-md-6 form-group">
                <label for="address">Dirección</label>
                <div>
                    @Html.DisplayFor(model => model.Direccion)
                </div>
            </div>
        </div><!-- /.row -->
    </div><!-- /.box-body -->
    @if (ViewBag.Tool != null && ViewBag.Tool)
    {
        <div class="box-footer">
            <a href="@Url.Action("Index", new { type = ViewBag.PersonaType })" class="btn btn-default">Volver a la lista</a>
            <a href="@Url.Action("Edit", new { id = Model.Id, type = ViewBag.PersonaType })" class="btn btn-primary pull-right">Editar</a>
        </div>
    }
</div><!-- /.box -->
