﻿@model ClinicaWeb.Models.ClinicaDB.Persona

@{
    ViewBag.Title = "Create";
}

<!-- Content Header (Page header) -->
@*<section class="content-header">
        <h1>
            Page Header
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>*@

<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Nuevo registro @Html.Raw(ViewBag.PersonaType != null ? string.Concat(" » ", ViewBag.PersonaType) : string.Empty)</h3>
        </div><!-- /.box-header -->
        @using (Html.BeginForm(new { type = ViewBag.PersonaType }))
        {
            @Html.AntiForgeryToken()
            <div class="box-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="firstName">Nombre(s)</label>
                        @Html.EditorFor(model => model.Nombre, new { htmlAttributes = new { @class = "form-control text-upper", @id = "firstName" } })
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="lastName">Apellido(s)</label>
                        @Html.EditorFor(model => model.Apellido, new { htmlAttributes = new { @class = "form-control text-upper", @id = "lastName" } })
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="idType">Tipo identificación</label>
                        @Html.EditorFor(model => model.TipoDocumento, new { htmlAttributes = new { @class = "form-control text-upper", @id = "idType" } })
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="idNumber">Número identificación</label>
                        @Html.EditorFor(model => model.Identificacion, new { htmlAttributes = new { @class = "form-control", @id = "idNumber" } })
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="gender">Genero</label>
                        @Html.EditorFor(model => model.Genero, new { htmlAttributes = new { @class = "form-control text-upper", @id = "gender" } })
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="movil">Celular</label>
                        @Html.EditorFor(model => model.Telefono, new { htmlAttributes = new { @class = "form-control", @id = "movil" } })
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="email">Correo electrónico</label>
                        @Html.EditorFor(model => model.Correo, new { htmlAttributes = new { @class = "form-control text-lower", @id = "email" } })
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="address">Dirección</label>
                        @Html.EditorFor(model => model.Direccion, new { htmlAttributes = new { @class = "form-control text-upper", @id = "address" } })
                    </div>
                </div><!-- /.row -->
            </div><!-- /.box-body -->
            <div class="box-footer">
                <a href="@Url.Action("Index", new { type = ViewBag.PersonaType })" class="btn btn-default">Cancelar</a>
                <button type="submit" class="btn btn-primary pull-right" style="width: 100px;">Crear</button>
            </div>
        }
    </div><!-- /.box -->
</section><!-- /.content -->
