﻿@using ClinicaWeb.Controllers
@model ClinicaWeb.Models.ClinicaDB.Persona

@{
    ViewBag.Title = "Details";
}

<!-- Content Header (Page header) -->
@*<section class="content-header">
        <h1>
            Page Header
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>*@

<!-- Main content -->
<section class="content">
    @Html.Partial("_DetailsPartial", Model, new ViewDataDictionary { { "Tool", true }, { "PersonaType", ViewBag.PersonaType } })

    @switch ((PersonaType)ViewBag.PersonaType)
    {
        case PersonaType.Paciente:
            @Html.Partial("~/Views/Paciente/_DetailsPartial.cshtml", ViewBag.Type as ClinicaWeb.Models.ClinicaDB.Paciente)
            break;
        case PersonaType.Empleado:
            @Html.Partial("~/Views/Empleado/_DetailsPartial.cshtml", ViewBag.Type as ClinicaWeb.Models.ClinicaDB.Empleado)
            break;
        default:
            break;
    }
</section><!-- /.content -->
