﻿@model IEnumerable<ClinicaWeb.Models.ClinicaDB.Persona>

@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
@*<section class="content-header">
        <h1>
            Page Header
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>*@

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-primary">
                <div class="box-header">
                    <h3 class="box-title">Listado @Html.Raw(ViewBag.PersonaType != null ? string.Concat(" » ", ViewBag.PersonaType, "(s)") : string.Empty)</h3>
                    <div>
                        @Html.ActionLink("Nuevo registro", "Create", new { type = ViewBag.PersonaType })
                    </div>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Tipo</th>
                                <th>Indentificación</th>
                                <th>Nombre(s) y Apellido(s)</th>
                                <th>Fecha nacimiento</th>
                                <th>Celular</th>
                                <th>Correo electrónico</th>
                                <th>Dirección</th>
                                <th>Genero</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.TipoDocumento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Identificacion)
                                    </td>
                                    <td>
                                        @string.Join(" ", Html.DisplayFor(modelItem => item.Nombre), Html.DisplayFor(modelItem => item.Apellido))
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FNacimiento)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Telefono)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Correo)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Direccion)
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.Genero)
                                    </td>
                                    <td>
                                        @Html.Raw(string.Join(" | ",
                                        //Html.ActionLink("Edit", "Edit", new { id = item.Id, type = ViewBag.PersonaType })
                                            Html.ActionLink("Detalle", "Details", new { id = item.Id, type = ViewBag.PersonaType })
                                        //Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        ))
                                    </td>
                                </tr>
                            }
                        </tbody>
                        @*<tfoot>
                                <tr>
                                    <th>Tipo</th>
                                    <th>Indentificación</th>
                                    <th>Nombre(s) y Apellido(s)</th>
                                    <th>Fecha nacimiento</th>
                                    <th>Celular</th>
                                    <th>Correo electrónico</th>
                                    <th>Dirección</th>
                                    <th>Genero</th>
                                </tr>
                            </tfoot>*@
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->
