﻿@model ClinicaWeb.Models.ClinicaDB.Cita

@{
    ViewBag.Title = "Edit";
}

<!-- Content Header (Page header) -->
@*<section class="content-header">
        <h1>
            Page Header
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>*@

<!-- Main content -->
<section class="content">
    <div class="box box-primary">
        <div class="box-header">
            <h3 class="box-title">Aprobar cita</h3>
        </div><!-- /.box-header -->
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.Id)
            @Html.HiddenFor(model => model.AgendaId)
            @Html.HiddenFor(model => model.PacienteId)
            @Html.HiddenFor(model => model.FReserva)
            @Html.HiddenFor(model => model.Estado)

            <div class="box-body">
                <div class="row">
                    <div class="col-md-6 form-group">
                        <label for="firstName">Paciente</label>
                        <div>
                            @string.Join(" ", Html.DisplayFor(modelItem => Model.Paciente.Persona.Nombre), Html.DisplayFor(modelItem => Model.Paciente.Persona.Apellido))
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="lastName">Fecha reserva</label>
                        <div>
                            @Html.DisplayFor(modelItem => Model.FReserva)
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="idType">Odontologo</label>
                        <div>
                            @string.Join(" ", Html.DisplayFor(modelItem => Model.Agenda.Empleado.Persona.Nombre), Html.DisplayFor(modelItem => Model.Agenda.Empleado.Persona.Apellido))
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label for="idNumber">Fecha agenda</label>
                        <div>
                            @Html.DisplayFor(modelItem => Model.Agenda.FAgenda)
                        </div>
                    </div>
                    <div class="col-md-6 form-group">
                        <label>Asignar hora</label>
                        <div class="input-group bootstrap-timepicker">
                            @Html.EditorFor(model => model.FAsignada, new { htmlAttributes = new { @class = "form-control timepicker" } })
                            @*<input type="text" class="form-control timepicker" />*@
                            <div class="input-group-addon">
                                <i class="fa fa-clock-o"></i>
                            </div>
                        </div><!-- /.input group -->
                    </div><!-- /.form group -->
                </div><!-- /.row -->
            </div><!-- /.box-body -->
            <div class="box-footer">
                <a href="@Url.Action("Details", new { id = Model.Id, type = ViewBag.PersonaType })" class="btn btn-default">Cancelar</a>
                <button type="submit" class="btn btn-primary pull-right" style="width: 100px;">Actualizar</button>
            </div>
        }
    </div><!-- /.box -->
</section><!-- /.content -->

@*<h2>Edit</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Cita</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.FReserva, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FReserva, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FReserva, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Estado, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Estado, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Estado, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PacienteId, "PacienteId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PacienteId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.PacienteId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.AgendaId, "AgendaId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("AgendaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AgendaId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.FAsignada, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.FAsignada, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.FAsignada, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>*@
