﻿@model IEnumerable<ClinicaWeb.Models.ClinicaDB.Cita>

@{
    ViewBag.Title = "Index";
}

<!-- Content Header (Page header) -->
@*<section class="content-header">
        <h1>
            Page Header
            <small>Optional description</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
            <li class="active">Here</li>
        </ol>
    </section>*@

<!-- Main content -->
<section class="content">
    <!-- Your Page Content Here -->
    <div class="row">
        <div class="col-xs-12">
            <div class="box box-info">
                <div class="box-header">
                    <h3 class="box-title">Listado Citas</h3>
                </div><!-- /.box-header -->
                <div class="box-body">
                    <table id="example2" class="table table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Paciente</th>
                                <th>Odontologo</th>
                                <th>Fecha/Hora Asignada</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        <div>
                                            @string.Join(" ", Html.DisplayFor(modelItem => item.Paciente.Persona.Nombre), Html.DisplayFor(modelItem => item.Paciente.Persona.Apellido))
                                        </div>
                                        <div>
                                            F.R. @string.Concat(" » ", Html.DisplayFor(modelItem => item.FReserva))
                                        </div>
                                    </td>
                                    <td>
                                        <div>
                                            @string.Join(" ", Html.DisplayFor(modelItem => item.Agenda.Empleado.Persona.Nombre), Html.DisplayFor(modelItem => item.Agenda.Empleado.Persona.Apellido))
                                        </div>
                                        <div>
                                            F.A. @string.Concat(" » ", Html.DisplayFor(modelItem => item.Agenda.FAgenda))
                                        </div>
                                    </td>
                                    <td>
                                        @Html.DisplayFor(modelItem => item.FAsignada)
                                    </td>
                                    <td>
                                        @Html.Raw(string.Join(" | ",
                                            //Html.ActionLink("Edit", "Edit", new { id = item.Id, type = ViewBag.PersonaType })
                                            Html.ActionLink("Aprobar", "Edit", new { id = item.Id, type = ViewBag.PersonaType })
                                        //Html.ActionLink("Delete", "Delete", new { id = item.Id })
                                        ))
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div><!-- /.box-body -->
            </div><!-- /.box -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</section><!-- /.content -->

